[submodule "deps/go-router"]
	path = deps/go-router
	url = https://github.com/JoakimCarlsson/go-router.git
[submodule "deps/ai"]
	path = deps/ai
	url = https://github.com/JoakimCarlsson/ai.git
[submodule "deps/squeeze"]
	path = deps/squeeze
	url = https://github.com/JoakimCarlsson/squeeze.git
